In [59]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import numpy as np

In [60]:
csv_path= Path("Resources/2023_national_park_public_data.csv")

national_parks_complete_df= pd.read_csv(csv_path)

national_parks_complete_df.head()

,ParkName,UnitCode,ParkType,Region,State,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,...,NonRecreationVisitsTotal,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal
0,Acadia NP,ACAD,National Park,Northeast,ME,2023,1,"15,217",600,"100,434",...,"47,100","25,804,425","47,100",0,"1,603","120,615","49,074","1,570",0,"9,600"
1,Acadia NP,ACAD,National Park,Northeast,ME,2023,2,"15,281",600,"100,853",...,"47,100","25,804,425","47,100",0,"1,603","120,615","49,074","1,570",0,"9,600"
2,Acadia NP,ACAD,National Park,Northeast,ME,2023,3,"30,822",600,"203,428",...,"47,100","25,804,425","47,100",0,"1,603","120,615","49,074","1,570",0,"9,600"
3,Acadia NP,ACAD,National Park,Northeast,ME,2023,4,"102,928",600,"596,982",...,"47,100","25,804,425","47,100",0,"1,603","120,615","49,074","1,570",0,"9,600"
4,Acadia NP,ACAD,National Park,Northeast,ME,2023,5,"340,425","7,500","2,369,803",...,"47,100","25,804,425","47,100",0,"1,603","120,615","49,074","1,570",0,"9,600"

In [61]:
# Remove unnecessary columns from the DataFrame and save the new DataFrame
national_parks_reduced_df=national_parks_complete_df[["ParkName","Region", "State","Month","RecreationVisits","RecreationHours","RecreationHoursTotal"]]

national_parks_reduced_df.head()

,ParkName,Region,State,Month,RecreationVisits,RecreationHours,RecreationHoursTotal
0,Acadia NP,Northeast,ME,1,"15,217","100,434","25,804,425"
1,Acadia NP,Northeast,ME,2,"15,281","100,853","25,804,425"
2,Acadia NP,Northeast,ME,3,"30,822","203,428","25,804,425"
3,Acadia NP,Northeast,ME,4,"102,928","596,982","25,804,425"
4,Acadia NP,Northeast,ME,5,"340,425","2,369,803","25,804,425"

In [62]:
# Rename headers
national_parks_headers_renamed_df= national_parks_reduced_df.rename(columns={"ParkName":"Park Name",
                                                                    "RecreationVisits":"Recreation Visits by Month",
                                                                    "RecreationHours":"Recreation Hours by Month",
                                                                    "RecreationHoursTotal":"Total Recreation Hours"})

national_parks_headers_renamed_df.head()

,Park Name,Region,State,Month,Recreation Visits by Month,Recreation Hours by Month,Total Recreation Hours
0,Acadia NP,Northeast,ME,1,"15,217","100,434","25,804,425"
1,Acadia NP,Northeast,ME,2,"15,281","100,853","25,804,425"
2,Acadia NP,Northeast,ME,3,"30,822","203,428","25,804,425"
3,Acadia NP,Northeast,ME,4,"102,928","596,982","25,804,425"
4,Acadia NP,Northeast,ME,5,"340,425","2,369,803","25,804,425"

In [86]:
national_parks_rows_renamed_df=national_parks_headers_renamed_df.replace({"Acadia NP":"Acadia National Park",
                                                                          "Arches NPA":"Arches National Park",
                                                                          "Badlands NP":"Badlands National Park",
                                                                          "Big Bend NP":"Big Bend National Park",
                                                                          "Biscayne NP":"Biscayne National Park",
                                                                          "Black Canyon of the Gunnison NP":"Black Canyon of the Gunnison National Park",
                                                                          "Bryce Canyon NP":"Bryce Canyon National Park",
                                                                          "Canyonlands NP":"Canyonlands National Park",
                                                                          "Capitol Reef NP":"Capitol Reef National Park",
                                                                          "Carlsbad Caverns NP":"Carlsbad Caverns National Park",
                                                                          "Channel Islands NP":"Channel Islands National Park",
                                                                          "Congaree NP":"Congaree National Park",
                                                                          "Crater Lake NP":"Crater Lake National Park",
                                                                          "Cuyahoga Valley NP":"Cuyahoga Valley National Park",
                                                                          "Death Valley NP":"Death Valley National Park",
                                                                          "Denali NP":"Denali & PRES National Park",
                                                                          "Dry Tortugas NP":"Dry Tortugas National Park",
                                                                          "Everglades NP":"Everglades National Park",
                                                                          "Gates of the Arctic NP":"Gates of the Arctic & PRES National Park",
                                                                          "Gateway Arch NP":"Gateway Arch National Park",
                                                                          "Glacier Bay NP":"Glacier Bay & PRES National Park",
                                                                          "Glacier NP":"Glacier National Park",
                                                                          "Grand Canyon NP":"Grand Canyon National Park",
                                                                          "Grand Teton NP":"Grand Teton National Park",
                                                                          "Great Basin NP":"Great Basin National Park",
                                                                          "Great Sand Dunes NP":"Great Sand Dunes & PRES National Park",
                                                                          "Great Smoky Mountains NP":"Great Smoky Mountains National Park",
                                                                          "Guadalupe Mountains NP":"Guadalupe Mountains National Park",
                                                                          "Haleakala NP":"Haleakala National Park",
                                                                          "Hawaii Volcanoes NP":"Hawaii Volcanoes National Park",
                                                                          "Hot Springs NP":"Hot Springs National Park",
                                                                          "Indiana Dunes NP":"Indiana Dunes National Park",
                                                                          "Isle Royale NP":"Isle Royale National Park",
                                                                          "Joshua Tree NP":"Joshua Tree National Park",
                                                                          "Katmai NP":"Katmai & PRES National Park",
                                                                          "Kenai Fjords NP":"Kenai Fjords National Park",
                                                                          "Kings Canyon NP":"Kings Canyon National Park",
                                                                          "Kobuk Valley NP":"Kobuk Valley National Park",
                                                                          "Lake Clark NP":"Lake Clark & PRES National Park",
                                                                          "Lassen Volcanic NP":"Lassen Volcanic National Park",
                                                                          "Mammoth Cave NP":"Mammoth Cave National Park",
                                                                          "Mesa Verde NP":"Mesa Verde National Park",
                                                                          "Mount Rainier NP":"Mount Rainier National Park",
                                                                          "National Park of American Samoa":"American Samoa National Park",
                                                                          "New River Gorge NP":"New River Gorge & PRES National Park",
                                                                          "North Cascades NP":"North Cascades National Park",
                                                                          "Olympic NP":"Olympic National Park",
                                                                          "Petrified Forest NP":"Petrified Forest National Park",
                                                                          "Pinnacles NP":"Pinnacles National Park",
                                                                          "Redwood NP":"Redwood National Park",
                                                                          "Rocky Mountain NP":"Rocky Mountain National Park",
                                                                          "Saguaro NP":"Saguaro National Park",
                                                                          "Sequoia NP":"Sequoia National Park",
                                                                          "Shenandoah NP":"Shenandoah National Park",
                                                                          "Theodore Roosevelt NP":"Theodore Roosevelt National Park",
                                                                          "Virgin Islands NP":"Virgin Islands National Park",
                                                                          "Voyageurs NP":"Voyageurs National Park",
                                                                          "White Sands NP":"White Sands National Park",
                                                                          "Wind Cave NP":"Wind Cave National Park",
                                                                          "Wrangell-St. Elias NP":"Wrangell-St. Elias & PRES National Park",
                                                                          "Yellowstone NP":"Yellowstone National Park",
                                                                          "Yosemite NP":"Yosemite National Park",
                                                                          "Zion NP":"Zion National Park",})
national_parks_rows_renamed_df.head()

,Park Name,Region,State,Month,Recreation Visits by Month,Recreation Hours by Month,Total Recreation Hours
0,Acadia National Park,Northeast,ME,1,"15,217","100,434","25,804,425"
1,Acadia National Park,Northeast,ME,2,"15,281","100,853","25,804,425"
2,Acadia National Park,Northeast,ME,3,"30,822","203,428","25,804,425"
3,Acadia National Park,Northeast,ME,4,"102,928","596,982","25,804,425"
4,Acadia National Park,Northeast,ME,5,"340,425","2,369,803","25,804,425"

In [87]:
national_parks_rows_renamed_df.dtypes

Park Name                     object
Region                        object
State                         object
Month                          int64
Recreation Visits by Month    object
Recreation Hours by Month     object
Total Recreation Hours        object
dtype: object

In [96]:
national_parks_rows_renamed_df["Recreation Hours by Month"] = national_parks_rows_renamed_df["Recreation Hours by Month"].str.replace(",","").astype(float)
national_parks_rows_renamed_df.head()

,Park Name,Region,State,Month,Recreation Visits by Month,Recreation Hours by Month,Total Recreation Hours,Recreation Hours by Month
0,Acadia National Park,Northeast,ME,1,15217.0,100434.0,25804425.0,100434.0
1,Acadia National Park,Northeast,ME,2,15281.0,100853.0,25804425.0,100853.0
2,Acadia National Park,Northeast,ME,3,30822.0,203428.0,25804425.0,203428.0
3,Acadia National Park,Northeast,ME,4,102928.0,596982.0,25804425.0,596982.0
4,Acadia National Park,Northeast,ME,5,340425.0,2369803.0,25804425.0,2369803.0

In [97]:
national_parks_rows_renamed_df.dtypes

Park Name                      object
Region                         object
State                          object
Month                           int64
Recreation Visits by Month    float64
Recreation Hours by Month     float64
Total Recreation Hours        float64
Recreation Hours by Month     float64
dtype: object

In [98]:
# Create a new column for "avg Time Spent per Visit" and calculate
                                                                         
national_parks_rows_renamed_df["avg Time Spent per Visit"] = national_parks_rows_renamed_df["Recreation Hours by Month"] /national_parks_rows_renamed_df["Recreation Visits by Month"]


national_parks_rows_renamed_df.head(10)

,Park Name,Region,State,Month,Recreation Visits by Month,Recreation Hours by Month,Total Recreation Hours,Recreation Hours by Month,avg Time Spent per Visit
0,Acadia National Park,Northeast,ME,1,15217.0,100434.0,25804425.0,100434.0,6.600118
1,Acadia National Park,Northeast,ME,2,15281.0,100853.0,25804425.0,100853.0,6.599895
2,Acadia National Park,Northeast,ME,3,30822.0,203428.0,25804425.0,203428.0,6.600091
3,Acadia National Park,Northeast,ME,4,102928.0,596982.0,25804425.0,596982.0,5.799996
4,Acadia National Park,Northeast,ME,5,340425.0,2369803.0,25804425.0,2369803.0,6.961307
5,Acadia National Park,Northeast,ME,6,566535.0,4257742.0,25804425.0,4257742.0,7.515409
6,Acadia National Park,Northeast,ME,7,767956.0,5059220.0,25804425.0,5059220.0,6.587903
7,Acadia National Park,Northeast,ME,8,774296.0,5042016.0,25804425.0,5042016.0,6.511742
8,Acadia National Park,Northeast,ME,9,643506.0,4027568.0,25804425.0,4027568.0,6.258789
9,Acadia National Park,Northeast,ME,10,541067.0,3555236.0,25804425.0,3555236.0,6.570787

In [100]:
national_parks_rows_renamed_df.to_csv("Resources/clean_park_data.csv", index=False, header=True)

In [104]:
# Read the CSV files into DataFrames
park_data = pd.read_csv("Resources/clean_park_data.csv")
location_data = pd.read_csv("Resources/national_park_names.csv")

# Merge the DataFrames on a common column
merged_df = pd.merge(park_data, location_data, on='Park Name', how='left')

# Display the merged DataFrame
print(merged_df)

                Park Name          Region State  Month  \
0    Acadia National Park      Northeast     ME      1
1    Acadia National Park      Northeast     ME      2
2    Acadia National Park      Northeast     ME      3
3    Acadia National Park      Northeast     ME      4
4    Acadia National Park      Northeast     ME      5
..                    ...             ...   ...    ...
751    Zion National Park  Intermountain     UT      8
752    Zion National Park  Intermountain     UT      9
753    Zion National Park  Intermountain     UT     10
754    Zion National Park  Intermountain     UT     11
755    Zion National Park  Intermountain     UT     12

     Recreation Visits by Month  Recreation Hours by Month  \
0                       15217.0                   100434.0
1                       15281.0                   100853.0
2                       30822.0                   203428.0
3                      102928.0                   596982.0
4                      340425.0                  2369803.0
..                          ...                        ...
751                    458449.0                  3027979.0
752                    491799.0                  3063140.0
753                    504584.0                  3149423.0
754                    284978.0                  1896028.0
755                    212443.0                  1343422.0

     Total Recreation Hours  Recreation Hours by Month   \
0                25804425.0                    100434.0
1                25804425.0                    100853.0
2                25804425.0                    203428.0
3                25804425.0                    596982.0
4                25804425.0                   2369803.0
..                      ...                         ...
751              29471316.0                   3027979.0
752              29471316.0                   3063140.0
753              29471316.0                   3149423.0
754              29471316.0                   1896028.0
755              29471316.0                   1343422.0

     avg Time Spent per Visit        Lat        Lon
0                    6.600118  44.338974  -68.27343
1                    6.599895  44.338974  -68.27343
2                    6.600091  44.338974  -68.27343
3                    5.799996  44.338974  -68.27343
4                    6.961307  44.338974  -68.27343
..                        ...        ...        ...
751                  6.604833  37.297817 -113.02877
752                  6.228439  37.297817 -113.02877
753                  6.241623  37.297817 -113.02877
754                  6.653243  37.297817 -113.02877
755                  6.323682  37.297817 -113.02877

[756 rows x 11 columns]